@import '../../../../public/css/variables.scss';

a {
    text-decoration: none;
    color: $fondoGrisOscuto;
}

.contFolder {
    width: 75%;
    min-height: auto;
    flex-wrap: nowrap;

    .folder {
        width: 100%;
        margin-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $fondoGris;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        >.title {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

        >.title {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

        >.peso {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

        >.up {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

        >.mod {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

        >.tipe {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;

            padding-right: 15px;

            >h2 {
                width: 100%;
                font-size: 14px;
                font-family: $fontTitle;
                font-weight: 400;
            }
        }

    }
}