@import '../../../../public/css/variables.scss';

.contArchive {
    width: 75%;
    min-height: auto;
    flex-wrap: nowrap;
    .noArchives {
        margin-top: 35px;
        font-size: 11px;
        font-family: $fontText;
        color: $fondoGrisOscuto;
    }
    .archive {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 100%;
        margin-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        font-weight: 500;
        border-bottom: 1px solid $fondoGris;

        .nameArchive {
            width: 20%;
            font-size: $fontsizeOne;
            font-family: $fontText;
            color: $fondoGrisOscuto;
        }
        .sizeArchive {
            width: 20%;
            font-size: $fontsizeOne;
            font-family: $fontText;
            color: $fondoGrisOscuto;
        }
        .upDateArchive {
            width: 20%;
            font-size: $fontsizeOne;
            font-family: $fontText;
            color: $fondoGrisOscuto;
        }
        .modDateArchive {
            width: 20%;
            font-size: $fontsizeOne;
            font-family: $fontText;
            color: $fondoGrisOscuto;
        }
        .tipeDateArchive {
            width: 20%;
            font-size: $fontsizeOne;
            font-family: $fontText;
            color: $fondoGrisOscuto;
        }
    }
}