@import '../../../../../public/css/variables.scss';

.projectMenuComponent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-top: #E0E0E0 solid 1px;
    border-bottom: #E0E0E0 solid 1px;
    width: 100%;
    height: 80px;
    min-height: 80px;
    .titleContainer {
        display: flex;
        flex-direction: row;
        height: auto;
        position: relative;
        .titles {
            display: flex;

            margin: 20px 0;
            .ico {
                width: 20px;
                height: 20px;
                margin-right: 15px;
        
                .modulesAsTitles {
                    fill:#666666;

                }
            }
        
            h1 {
                color: $fontColor;
                font-weight: 600;
                font-size: 22px;
                color: #666666;
            }
        }

    }
    .optionMenu {
        ul {
            display: flex;
            flex-direction: row;
            .listElement {
                list-style: none;
                button {
                    font-family: $fontText;
                    background: transparent;
                    border: none;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 5px 20px;
                    height: 32px;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .focused {
                button {
                    color: #310432;
                    border-bottom: #310432 solid 3px;
                }
            }
            .unfocused {
                button {
                    color: #C4C4C4;
                }
            }
        }
    }
    .projectTeamMates {

        height: 80px;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        z-index: 1;
        margin-left: 25px;
        .contain {
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            .colicon {
                width: 40px;
                min-width: 40px;
                height: 40px;
                border-radius: 20px;
                background: #10BFE6;
                margin-right: 5px;
                border: none;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .icon {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background: #10BFE6;
                    border: none;
                    margin-top: -5px;
                    svg {
                        path {
                            fill: white;
                        }
                    }
                }
            }
            input {
                font-family: $fontText;
                font-size: 12px;
                color: #666666;
                border: none;
                border-bottom: #808080 solid 1px;
                width: 100%;
                box-sizing: border-box;
                &::placeholder {
                    font-style: italic;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 12px;
                    color: #808080;
                }
                &:focus {
                    outline: none;
                }
            }
            .addColaboratorContainer {
                position: relative;
                .addColaborator{
                    display : flex;
                    flex-direction: row;
                    background: #F2F2F2;
                    border-radius: 3px;
                    padding: 10px;

                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;

                    
                    color: #808080;


                    .colicon {
                        width: 20px;
                        min-width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background: #10BFE6;
                        margin-right: 5px;
                        border: none;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .icon {
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                            background: #10BFE6;
                            border: none;
                            margin-top: -5px;
                            svg {
                                path {
                                    fill: white;
                                }
                            }
                        }
                    }
                    p{

                    }
                }
                .suggested {
                    position: absolute;
                    top: 0;
                    margin-top: 40px;
                    .addColaborator {
                        width: 314px;
                        transition: .2s all ease;
                        cursor: pointer;
                        &:hover {
                            background: #10E6C5;
                        }
                    }
                }
            }
        }
    }

}
