@import '../../../../public/css/variables.scss';
@import '../../../../public/css/flex.scss';

.searchBar {
    height: auto;

    margin: 15px 0;

    width: 100%;

    text-align: left;

    form {

        width: 100%;

        #inputBuscar {
            height: 34px;
            box-sizing: border-box;

            font-weight: 500;
            font-family: $fontText;
            font-size: $fontsizeOne;
            color: $fontHintColor;
            border: none;

            transition: all ease-in-out .3s;

            &:focus {
                outline: none;
                color: $fontColor;
                border-radius: 25px;
            }
            padding: 18px 20px;
            width: 100%;
            border-radius: 5px;
            background-color: $fondoGrisClaro;
            font-family: $fontText;
            border: none;

            &:hover{
                /*border-radius: 10px;*/
            }
        }

        

    }
}

button.submit {
    //font-family: 'Icomoon';
}