.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-child {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ac-center {
    align-content: center;
}

.ac-start {
    align-content: flex-start;
}

.ac-end {
    align-content: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}