@import '../../../../public/css/variables.scss';
.modalProjectAdd {
    .popUp {
        width: 600px;
        position: relative;
        overflow: hidden;
        transition: all 0.2s ease;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        form {
            ul {
                height: fit-content;
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                align-content: center;
                align-items: flex-end;
                li {
                    box-sizing: border-box;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 85%;
                    position: relative;
                    &:last-child {
                        width: 100%;
                        margin: 0;
                        height: 45px;
                    }
                    label {
                        width: 100px;
                        flex: 0 1 auto;
                        color: $fondoGrisOscuto;
                        position: absolute;
                        text-align: right;
                        left: -110px;
                    }
                }
                button {
                    box-sizing: border-box;
                    flex: 0 1 auto;
                    align-self: center;
                    height: 30px;
                    width: 100px;
                    border-radius: 5px;
                    margin-top: 10px;
                    color: white;
                    background: $secondaryColor;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    padding: 0 10px;
                    &:hover {
                        color: white;
                        background: $secondaryColorHover;
                        cursor: pointer;
                    }
                }
                .tags {
                    ul {
                        flex: 0 1 auto;
                        height: 100%;
                        width: fit-content;
                        flex-flow: row;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        li {
                            margin: 0;
                            flex: 0 1 auto;
                            padding: 0 10px;
                            height: 30px;
                            max-width: 95px;
                            background: #eaeaea;
                            border-radius: 15px;
                            margin-right: 10px;
                            span{
                                font-size: 10px;
                                text-transform: capitalize;
                                font-weight: 600;
                                text-align: center;
                                max-width: 100px;
                                min-width: 30px;
                                color: #4D4D4D;
                                overflow: hidden;
                                margin-right: 8px;
                                &::selection{
                                    background: none;
                                }
                                &:hover {
                                    cursor: default;
                                }
                            }
                            p {
                                font-size: 14px;
                                &::selection{
                                    background: none;
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    input{
                        flex: 1 1 auto;
                        padding-right: 45px;
                        padding-left: 10px;
                        position: relative;
                        min-width: 45px;
                    }
                    .tagAmount {
                        width: fit-content;
                        left: 335px;
                        top: 12px;
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }
}