@import '../../../../public/css/variables.scss';
.headerbar {
    background-color: $fondoBlanco;
    
    text-align: left;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 600px;
        align-items: center;
    }

    .searchBar {
        
        //in the component
       
    }
}