@import '../../../../public/css/variables.scss';
.headerbar {
    background-color: rgb(243, 243, 243);
    padding: 0 0 0 25px;
    text-align: left;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 600px;
        align-items: center;
    }
    img {
        display: inline-block;
        width: auto;
        height: 45px;
    }
    .toogle {
        width: 35px;
        height: 35px;
        border-radius: 200px;
        margin: 0 0 0 25px;
        background-color: $fondoBlanco;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 60%;
            height: 60%;
            margin: 0;
        }
        &.right {
            float: right
        }
    }
    .searchBar {
        background: $fondoBlanco;
        border-radius: 200px;
        height: 34px;
        margin: 0 0 0 25px;
        #inputBuscar {
            height: 34px;
            background: $fondoBlanco;
            width: 300px;
            border-radius: 200px;
            box-sizing: border-box;
            padding: 0 20px;
            padding-left: 0;
            font-weight: 500;
            font-family: $fontText;
            font-size: $fontsizeOne;
            color: $fontHintColor;
            border: none;
            &:focus {
                outline: none;
                color: $fontColor;
            }
        }
        button {
            background: none;
            border: none;
            width: 34px;
            height: 34px;
            margin-left: 10px;
            padding: 0;
            color: $fondoGrisOscuto;
            cursor: pointer;
        }
    }
}