@import '../../../../public/css/variables.scss';

.headerbar {
    background-color: $fondoBlanco;

    height: $tamHeader;
    min-height: $tamHeader;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;

    >.contSides {

        width: $tamApp;
        height: 100%;

        order: 0;
        flex: 0 1 auto;
        align-self: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;

        .leftSide {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            width: 40%;
            height: 100%;
            align-items: center;

            .searchBar {
                //in the component
            }

        }

        .rightSide {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            width: 200px;
            height: 100%;

            .profileMenu {
                //in the component
            }
        }
    }

}