@import '../../../../public/css/variables.scss';
.allCont {
    width: 100%;
    margin: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #D1D1D1;
}

.foldersCont {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    .folderCont {
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 2rem 0 2rem 0;
        .folderDisplay {
            width: 117px;
            height: 66px;
            background-color: $fondoGris;
        }
        .folderInfo {
            width: 60px;
            height: 66px;
            background-color: $fondoBlanco;
            padding: 5px;
        }
    }
}