@import '../../../../public/css/variables.scss';
.sortBarArchive {
    width: 100%;
    color: $fondoGris;
    font-family: $fontText;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 35px;
    min-height: 35px;
    
    margin-bottom: 15px;

    border-bottom: 1px solid $fondoGris;

    >.cont {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .SortArchiveName {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-family: $fontTitle;
            color: $fondoGrisOscuto;
            font-weight: 700;
            font-size: 14px;


            width: 30%;

            >img {
                margin-left: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .SortArchiveSize {
            text-align: center;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-family: $fontTitle;
            color: $fondoGrisOscuto;
            font-weight: 700;
            font-size: 14px;

            width: 10%;
            >img {
                margin-left: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .SortArchiveTipo{
            text-align: center;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-family: $fontTitle;
            color: $fondoGrisOscuto;
            font-weight: 700;
            font-size: 14px;

            width: 10%;
            >img {
                margin-left: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .SortArchiveUpDate {
            text-align: center;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-family: $fontTitle;
            color: $fondoGrisOscuto;
            font-weight: 700;
            font-size: 14px;

            width: 25%;
            >img {
                margin-left: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .SortArchiveModDate {
            text-align: center;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-family: $fontTitle;
            color: $fondoGrisOscuto;
            font-weight: 700;
            font-size: 14px;

            width: 25%;
            >img {
                margin-left: 5px;
                width: 8px;
                height: 8px;
            }
        }
    }
}