@import '../../../../public/css/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dash {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    top: 0;
    left: 0;
    width: $dashmenutam;
    background-color: $darkColor;
    color: $white;
    height: 100%;
    flex-wrap: nowrap;
    overflow-x: hidden;

    .contDash {
        height: 100%;
        padding: 0;
        width: 100%;
        flex-wrap: nowrap;

        .contActions {
            //margin-bottom: 100px;
            width: $dashmenutam;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            article {

                text-transform: uppercase;

                width: 100%;
                box-sizing: border-box;
                order: 0;
                flex: 0 1 auto;
                align-self: center;
                padding: 0 30px;
                width: $dashmenutam;
                height: 55px;
                justify-content: center;
                align-content: center;
                align-items: center;

                &:hover {
                    background-color: $activeSection;
                    cursor: pointer;
                }

                >.icon {
                    flex: 0 1 auto;
                    width: 20px;
                    height: 20px;

                    background-color: $white;
                    border-radius: 15px;

                    margin-right: 20px;
                }

                >.title {
                    flex: 1 1 auto;
                    font-family: $fontTitle;
                    font-size: $fontsizeOne;

                    font-size: 14px;

                    color: $white;
                    font-weight: 300;
                }
            }

            >.options {
                flex: 1 1 auto;

                width: 100%;

                color: $white;
            }

            >#logo {
                padding: 0;
                height: 110px;
                width: 100%;
                justify-content: center;

                &:hover {
                    background: none;
                    cursor: auto;
                    color: $white;
                }

                >div {
                    background-image: url('/assets/img/logo-positivo-negativo.png');
                    width: 110px;
                    background-position: center;
                    background-size: cover;
                    height: 45px;

                    border-radius: 0;
                }
            }

            >#config {
        
            }
        }

    }
}