@import '../../../../public/css/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dash {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: $dashmenutam;
    background-color: $fondoGris;
    height: 100%;
    .contDash {
        height: 100%;
        padding: 0;
        .contActions {
            //margin-bottom: 100px;
            width: $dashmenutam;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;
            article {
                box-sizing: border-box;
                order: 0;
                flex: 0 1 auto;
                align-self: center;
                padding: 10px 20px;
                width: $dashmenutam;
                justify-content: center;
                align-content: center;
                align-items: center;
                &:hover {
                    background: $fondoBlanco;
                    cursor: pointer;
                }
                div {
                    flex: 0 1 auto;
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                    border-radius: 25px;
                    background-color: $fondoGrisOscuto;
                }
                h2 {
                    flex: 1 1 auto;
                    color: $negroTexto;
                    font-family: $fontTitle;
                    font-size: 11px;
                    font-weight: 400;
                }
            }
            .options {
                flex: 1 1 auto;
            }
            #profile {
                height: 140px;
                justify-content: center;
                &:hover {
                    background: none;
                    cursor: auto;
                }
                div {
                    margin: 0;
                    width: 45px;
                    height: 45px;
                    margin-bottom: 10px;
                }
                h2 {
                    flex: 0 1 auto;
                }
            }
        }
        #config {
            width: $dashmenutam;
            justify-content: center;
            align-content: center;
            align-items: center;
            div {
                width: 35px;
                height: 35px;
                border-radius: 25px;
                background-color: $fondoGrisOscuto;
            }
            h2 {
                color: $negroTexto;
                font-family: $fontTitle;
                font-size: 11px;
                font-weight: 400;
            }
        }
    }
}