@import '../../../../public/css/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $fondoBlanco;
    width: 100%;
}

.contHome {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.dash {
    position: fixed;
}

.app {
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}