@import '../../../../public/css/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $defaultBackground;
    .contHome {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }
    .dash {
        position: fixed;
    }
    .app {
        margin: 0 0 0 $dashmenutam;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        .homeInfo {
            width: 95%;
            margin: 60px 0 0 0;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
    }
}