@import '../../../../public/css/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $fondoBlanco;
    .contHome {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }
    .dash {
        position: fixed;
    }
    .app {
        width: 80%;
        height: auto;
        margin: 0 0 0 $dashmenutam;
        padding: 0 auto;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .addFolder {
        width: 45px;
        height: 45px;
        border-radius: 25px;
        background: $fondoGris;
        position: absolute;
        bottom: 40px;
        right: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        div {
            background: $fondoGrisOscuto;
            width: 25px;
            height: 5px;
            border-radius: 10px;
            margin-left: -10px;
            &:last-child {
                margin-left: -15px;
                width: 5px;
                height: 25px;
            }
        }
        &:hover {
            background: $fondoGrisOscuto;
            cursor: pointer;
            div {
                background: $fondoGris;
            }
        }
    }
}