@import '../../../../public/css/variables.scss';

.filesCont {

    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;

    .fileCont {
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 5px;

        height: $tamViewIconY;
        width: $tamViewIconX;

        margin: 0 $marginViewIconX $marginViewIconY 0;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .fileDisplay {
            width: 50%;
            height: 50%;

            justify-content: center;
            align-content: center;
            align-items: center;

            background-color: $fondoGris;

            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            margin-top: 15px;

            margin-bottom: 10px;

        }

        .fileInfo {
            padding: 5px;

            text-align: center;

            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-size: 13px;

        }

    }
}