@import '../../../../public/css/variables.scss';
.allCont {
    width: 100%;
    margin: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #D1D1D1;
}

.projectsCont {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 2rem 0 2rem 0;
    .projectCont {
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 0 1rem 1rem 0;
        .projectDisplay {
            width: 157px;
            height: 89px;
            background-color: $fondoGris;
        }
        .projectInfo {
            width: 157px;
            height: 45px;
            background-color: $fondoBlanco;
            padding: 5px;
        }
    }
}