@import '../../../../public/css/variables.scss';
.sortBar {
    width: 100%;
    background-color: $fondoGrisClaro;
    color: $fondoGrisOscuto;
    font-family: $fontText;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 60px 0 0 0;
    padding-left: 20px;
    height: 40px;
    position: fixed;
    z-index: 4;
    p {
        margin-right: 20px;
    }
    .sortSelector {
        background-color: $fondoBlanco;
        border-radius: 100px;
        margin-right: 40px;
        position: relative;
        select {
            width: 200px;
            font-size: 15px;
            color: #000000;
            font-weight: 400;
            height: 26px;
            padding-left: 30px;
            background: transparent;
            border: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $fondoGrisOscuto;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}